.about {
    // border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 20%;
    font-family: "Playfair Display", serif;
    padding: 2%;
    color: #2c3259;
  }
  
  .about-text-container {
    width: 53%;
    // border: 1px dashed black;
  }
  
  .about-text {
    font-size: 2rem;
    margin-bottom: 6%;
  }
  
  .about-text-first-line {
    font-size: 3.5rem;
  }
  
  .about-text-btn {
    width: 30%;
    height: 5vh;
    background-color: #dcb13c;
    border: none;
    color: #2c3259;
    font-size: 2rem;
  }
  
  .about-img {
    width: 45%;
    height: 100%;
    border: 1px solid #dcb13c;
  }
  