$mobile: 500px;

.contact {
  width: 40%;
  //   border: 1px dashed black;
  margin-left: 20%;
  padding: 2%;
  font-family: "Playfair Display", serif;
  color: #00274c;
}

.contact-bio {
  //   border: 1px dashed black;
  //   text-align: center;
  font-size: 2rem;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  height: 11vh;
  justify-content: space-between;
  font-weight: 600;
}

.contact-headline {
  font-size: 3rem;
  //   text-align: center;
}

.contact-title {
  font-size: 2rem;
  //   text-align: center;
  text-transform: capitalize;
  color: #ffcb05;
}

.contact-contact {
  font-size: 2rem;
  color: #ffcb05;
}

.contact-pitch {
  margin-bottom: 6%;
  font-size: 1.8rem;
}

.contact-form {
  font-size: 1.8rem;
}

.contact-input-div {
  //   border: 1px dashed black;
  width: 100%;
  margin-bottom: 4%;
  //   display: flex;
  //   flex-direction: column;
  //   height: 10vh;
  //   justify-content: space-between;
}

.contact-form-label {
  margin-bottom: 2%;
  font-size: 1.8rem;
}

.contact-name-input-div {
  display: flex;
  justify-content: space-between;
}

.contact-input {
  width: 100%;
  height: 4vh;
  font-size: 1.8rem;
  padding-left: 1%;
  background-color: #00274c;
  color: #e4e1df;
}

.contact-input-name {
  width: 48%;
}

.contact-msg-input {
  height: 15vh;
}

.contact-submit-btn {
  height: 5vh;
  background-color: #ffcb05;
  color: #00274c;
  border: none;
  width: 20%;
  font-size: 1.8rem;
  font-weight: 700;
}

@media (max-width: $mobile) {
  .contact {
    width: 100%;
    margin: 0;
    padding: 5%;
    text-align: center;
  }

  .contact-input-div {
    text-align: left;
  }
}
