.nav {
  // border-right: 1px solid black;
  // border: 1px dashed black;
  // display: flex;
  width: 20%;
  height: 100vh;
  // justify-content: space-between;
  // padding-top: 3%;
  // padding-left: 15%;
  // padding-right: 15%;
  // margin-bottom: 4%;
  font-family: "Playfair Display", serif;
  position: fixed;
  background-color: #2c3259;
  color: #fff;
}

.nav-top-home {
  border-bottom: 1px solid #dcb13c;
  // border: 1px solid red;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-top {
  border-bottom: 1px solid #dcb13c;
  // border: 1px solid red;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .nav-top-link {
//   border: 1px solid red;
//   height: 20vh;
//   width: 20%;
// }

.nav-top-name {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}

.nav-top-title {
  font-size: 1.5rem;
  text-decoration: none;
  color: #dcb13c;
}

.nav-top-pic-home {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}

.nav-top-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  padding: 5%;

  .nav-link {
    margin-bottom: 5%;
  }
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}

.nav-link:hover {
  color: #dcb13c;
}
